body {
    margin: 0;
}

.page-one {
    background-image: url("/images/hero/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 150px;
    border-radius: 50%;
    opacity: 0;

}

.nav-links {
    display: flex;
    list-style-type: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.item {
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    font-family: "Kanit", sans-serif;
    font-weight: lighter;
    color: #1E3E62;
    padding: 15px;
}

/* Боковая панель (по умолчанию скрыта) */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1E3E62;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
}

.sidebar.active {
    width: 250px;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-family: "Kanit", sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: #EC8305;
}

h3 {
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    color: #EC8305;
    font-weight: lighter;
}

.btn {
    opacity: 0;
    border: none;
    border-radius: 35px;
    padding: 10px 32px 10px 32px;
    background-color: #EC8305;
}

.btn:hover {
    background-color: #1E3E62;
    transition-duration: 1s;
}

.hidden {
    display: none;
}

.text-btn {
    color: #fff;
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.imagePuppy {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #EC8305;
    flex-shrink: 0;
    opacity: 0;
}

.page-two {
    background-image: url("images/backgrounds/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-size: 45px;
    color: #1E3E62;
    margin-left: 60px;
}

.container-2 {
    display: flex;
    justify-content: space-around;
}

.text-box {
    background-color: rgba(255, 228, 181, 0.5);
    padding: 10px;
    margin: 20px;
}

.paragraph {
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    color: #001F3F;
    padding-left: 10px;
}

.container-3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: rgba(135, 206, 235, 0.3);
}

.boxOne {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.numbers {
    font-family: "Kanit", sans-serif;
    color: #EC8305;
    font-size: 30px;
    font-weight: bolder;
    line-height: 0.5;
}

.text {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: #001F3F;
}

.page-three, .page-five {
    background-color: #c4e1f6;
    padding-top: 25px;
    padding-bottom: 30px;
}

.benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #EC8305;
}

.point {
    display: flex;
    align-items: center;
}

h4 {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    color: #EC8305;
    line-height: 0.5;
}

.imageDoctor {
    width: 380px;
    height: 400px;
    border-radius: 40%;
    box-shadow: 5px 10px 8px #EC8305;
    margin-right: 25px;
}

.page-four {
    background-image: url("images/backgrounds/fon3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-service {
    width: 250px;
    padding: 15px;
    text-align: center;
    background-color: rgba(135, 206, 235, 0.3);
    border-radius: 25px;
}

.imageService {
    width: 200px;
    border-radius: 50% 20% 50% 10%;
    box-shadow: 5px 5px 8px #EC8305;
}

.container-4 {
    margin-left: 50px;
    list-style-image: url('images/icons/step.png');
}

.container-5 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.forma {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #EC8305;
    border-radius: 25px;
}

input {
    padding: 8px;
    border: none;
    border-radius: 25px;
}

.btnSend {
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color: #001F3F;
    background-color: #c4e1f6;
    border-radius: 25px;
    border: none;
}

.textForm {
    color: #1E3E62;
    font-weight: lighter;
    text-align: center;
}

.page-six {
    background-image: url("images/backgrounds/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.container-6 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.box-vets {
    width: 200px;
    text-align: center;
    background-color: rgba(135, 206, 235, 0.3);
    padding: 15px;
    border-radius: 25px;
}

.vetDoctor {
    width: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 8px #EC8305;
}

/* footer */

.container-7 {
    display: flex;
    justify-content: space-between;
    padding-top: 25%;
}

.contacts {
    margin: 20px 30px;
}

.box-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
}

.icons-image {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.address {
    margin-right: 50px;
}

.map {
    border: 1px solid #001F3F;
    box-shadow: 3px 2px 8px 5px #EC8305;
    width: 400px;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

.text-inf {
    padding: 20px;
    background-color: #c4e1f6;
}

.inf {
    color: grey;

}


@media all and (max-width: 820px) {
    .page-one {
        min-height: auto;
        padding: 80px 0 40px 0;
    }

    .imagePuppy {
        width: 250px;
        max-height: 50%;
        margin-top: 20px;
        margin-left: 80px;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    h1, h2 {
        font-size: 30px;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .paragraph, h4 {
        font-size: 22px;
    }

    .numbers {
        font-size: 25px;
        line-height: 0;
    }

    .text {
        font-size: 18px;
    }

    .icons {
        width: 50px;
        height: 50px;
    }

    .imageDoctor {
        width: 280px;
        height: 300px;
    }

    .box-service {
        margin: 20px;
    }

    .map {
        width: 300px;
        height: 180px;
    }
}

@media all and (max-width: 500px) {
    .logo {
        width: 70px;
    }

    .item {
        font-size: 16px;
    }

    .imagePhone {
        width: 30px;
    }

    h1, h2, h3 {
        font-size: 25px;

    }

    .imagePuppy {
        width: 150px;
        margin-left: 120px;
    }

    h4 {
        font-size: 15px;
    }

    .text-btn {
        font-size: 20px;
    }

    .container-2, .box, .benefits, .container-5, .container-6, .container-7 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxOne {
        padding: 10px;
    }

    .point, .container-4  {
        margin-right: 30px;
    }

    .imageDoctor {
        width: 250px;
        height: 250px;
        margin-top: 10px;
    }

    .box-vets {
        margin-top: 10px;
    }

    .map {
        width: 250px;
        margin-left: 80px;
        margin-bottom: 20px;
    }   
}

@media all and (max-width: 360px) {
    .imagePuppy {
        width: 100px;
    }
}


